{% extends "public.base.login.twig.html" %}

{% block title %}Survey App {% endblock %}
{% block header %}
<div class="col-lg-12 my-header"  style=" margin-top: 50px; padding: 20px; ">
<div class="container"  style="color: white" >
    <img src="/imgs/inclass.png" style="margin-bottom: -20px" height="120px">


       <span style="font-size: 40px; vertical-align:text-top;">  <b> &nbsp Survey App </b></span> <!--: Feedback -->

</div>
</div>

{% endblock %}

{% block content %}



<br>

<div class="row" >



        <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12" style="margin-top: 30px"  >
            <a href="{{path_for('MyAdminLogin')}}" class="hover-animate">
            <div class="bgimg backDp" style="height: 180px; position: relative; margin-left: 5px; margin-right: 5px">

                 <img src="/imgs/rT.png" height="180px" style="position: absolute; right: 0px" >

                <img class="glyphicon" src="/imgs/admin.png" height="160px" style="margin-left: 20px !important; top:20px; position: absolute">
                <span class="tileText" > Admin</span>
                <span class="tileTextSmall" >  Manage Users: Add, update and delete.</span>

            </div>


            <div style="margin-left: 5px; margin-right: 5px ; margin-top: 20px; color: white">


              <!--  Manage Patient, doctor and nurse: Add, update and delete. -->



            </div>
            </a>


            <br>
            
            <div class="col-md-6 text-center"  style="padding-left: 0px;">
                <a target="_blank" href="https://github.com/pparab2017/AInclass01" style="cursor: pointer; text-decoration: none">
                <div style="border-radius: 3px;background-color: #B388FF; padding: 5px; color: white">

            <img src="/imgs/git.png" width="50px">
                <h6>Mobile app Code</h6>
                </div></a>
            </div>

            <div class="col-md-6 text-center"  style="padding-right: 0px;">
                <a target="_blank" href="https://github.com/pparab2017/inclass01" style="cursor: pointer; text-decoration: none">
                <div style="border-radius: 3px;background-color: #FBC02D; padding: 5px; color: white">

                <img src="/imgs/git.png" width="50px">
                <h6>Api app Code</h6>
                </div></a>
            </div>


            <div class="col-md-2"> </div>


        </div>


    <div class="col-lg-8" style="padding-bottom: 10px; color: white; margin-top: 30px; border-left: dashed 1px white ">
    <h1>Admin </h1>
        <ul>
        <li>
            Can Create , edit and delete users.
        </li>
            <li>
                Can view patients score for each survey.
            </li>
        <li>
            Can view patients submitted surveys.
        </li>
        <li>
            Can print the report for each survey.
        </li>
    </ul>



    </div>

</div>


{% endblock %}


{% block myscripts %}

<script  type="text/javascript">

    $(document).ready(function() {



    });
</script>
{% endblock %}

